<!DOCTYPE html>
<html>
<head>

<center><title> uTsAB(B) Animals</title>

</head>
<body>
      <style>
body {
    background-color: grey;
}
h1 {
    color: yellow;
    margin-left: 40px;
} 
h4 {
    position:absolute;
    bottom:0%;
    right:45%;
}
</style>
  
  
<h1>uTsAB(B) </h1> <h1> Animals</h1>

<form 
      <form method=POST action="/ani">
        {% for xyz in chosen_madlib %}
          {{xyz["part_of_speech"]}} <input type="noun" name="{{xyz["part_of_speech"]}}" value=""> </input> <br>
            
        {% endfor %}
         <input type="submit" value="Submit">
</form>
     

</body>

<footer>
  <center>
  <h4>Powered by Grit </h4>
  </center>
</footer>

</html>