<!DOCTYPE html>
<html>
<head>

<center><title> uTsAB(B) Animals</title>

</head>
<body>
      <style>
body {
    background-color: grey;
}
h1 {
    color: yellow;
    margin-left: 40px;
} 
</style>
  
  
<h1>uTsAB(B) </h1> <h1> Animals</h1>
<p>This is a template 
    This is a template 
    This is a template 
    This is a template
    This is a template 

</center>
</p>
<form action="/result">
<table>
  <tr>
    <th>Examples</th>
    <th>Input</th> 
  </tr>
  <tr>
    <td>noun</td>
    <td><input type="text" name="first_input"><br></td> 
  </tr>
</table>
  <input type="submit" value="Submit">
</form>
     

</body>

<footer>
  <center>
  <p>Powered by Grit </p>
  </center>
</footer>

</html>