<!DOCTYPE html>
<html>
<head>
<center><title> uTsAB(B) Bed Time</title></center>
</head>
<body>
  
<h1>Bed Time Stories</h1>
<p>This is a template 
    This is a template 
    This is a template 
    This is a template
    This is a template 
x

</p>
<form action="//uni">
<table>
  <tr>
    <th>Examples</th>
    <th>Input</th> 
  </tr>
  <tr>
    <td>noun</td>
    <td><input type="text" name="first_input"><br></td> 
  </tr>
</table>
  <input type="submit" value="Submit">
</form>
     

</body>

<footer>
  <p>Powered by Grit </p>
  
</footer>

</html>