<!DOCTYPE html>
<html>
<head>
<center><title> uTsAB(B) Bed Time</title>
</head>
<body>
          <style>
body {
    background-color: grey;
}
h1 {
    color: yellow;
    margin-left: 40px;
} 
</style>
  
<h1> uTsAB(B) </h1> <h1>Bed Time Stories</h1>

  <form method=POST action="/ani">
        {% for xyz in chosen_madlib %}
          {{xyz["part_of_speech"]}} <input type="noun" name="{{xyz["part_of_speech"]}}" value=""> </input> <br>
            
        {% endfor %}
         <input type="submit" value="Submit">
</form>
     

</body>

<footer>
  <center>
  <p>Powered by Grit </p>
  </center>
</footer>

</html>