<!DOCTYPE html>
<html>
<body>
<head>
    <style>
body {
    background-color: grey;
}
h1 {
    color: yellow;
    margin-left: 40px;
} 
</style>
</head>
<center>
  <h1>uTsAB(B)</h1>
<a href="/uni"><button type="button">University</button></a>
 <a href="/tech"><button value="Technology">Technology</button></a>
<a href="/sports">  <button value="Sports">Sports</button></a>
<a href="/ani">  <button value="Animals">Animals</button></a>
<a href="/bed">  <button value="Bed Time Stories">BedTime Stories</button></a>
 <a href="/be"> <button value="Be Creative">Be Creative</button></a>
 




<p>  <h1> What is uTsAB(B)? </h1>
uTsAB(B) is a phrasal template word game where one player prompts others for a list of words to substitute for blanks in a story, <br> before reading the – often comical or nonsensical – story aloud. <br>  The game is frequently played as a party game or as a pastime.
 </p>
<footer>
    <center>
    <p> Powered by GRIT</p>
    </center>
</footer>
</center>
</body>
</html>


