<!DOCTYPE html>
<html>
<body>
<center>
  <h1>uTsAB(B)</h1>
<a href="/uni"><button type="button">University</button></a>

  <button value="Technology">Technology</button>
  <button value="Sports">Sports</button>
  <button value="Animals">Animals</button>
  <button value="Bed Time Stories">BedTime Stories</button>
  <button value="Be Creative">Be Creative</button>





<p>  <h1> What is uTsAB(B)? </h1>
uTsAB(B) is a phrasal template word game where one player prompts others for a list of words to substitute for blanks in a story, before reading the – often comical or nonsensical – story aloud. The game is frequently played as a party game or as a pastime.
 </p>
<footer >
    <p> Powered by GRIT</p>
</footer>
</center>
</body>
</html>


