<!DOCTYPE html>
<html>
<head>
<center><title> uTsAB(B) University</title>
</head>
<body>
      <style>
body {
    background-color: grey;
}
h1 {
    color: yellow;
    margin-left: 40px;
} 
</style>
  
<h1> uTsAB(B) </h1>  <h1> University</h1> 
<p>This is a template 
    This is a template 
    This is a template 
    This is a template
    This is a template 


</center>
</p>
<form action="/result">
<table>
  <tr>
    <th>Examples</th>
    <th>Input</th> 
  </tr>
  <tr>
    <td>Noun</td>
    <td><input type="text" name="first_input"><br></td> 
  </tr>
  <tr>
    <td>Verb</td>
    <td><input type="text" name="second_input"><br></td> </td>
  </tr>
  <tr>
    <td>Adjective</td>
    <td><input type="text" name="third_input"><br></td> </td>
  </tr>
  <tr>
    <td>More Nouns </td>
    <td><input type="text" name="third_input"><br></td> </td>
  </tr>
</table>
  <input type="submit" value="Submit">
</form>

   <form method=POST action="/uni">
        {% for xyz in chosen_madlib%}
                xyz[part_of_speech] <input type="radio" name="selected-answer" value="correct"> {{ answer_dict['text'] }} </input> <br>
        {% endfor %}
     

</body>

<footer>
  <center>
  <p>Powered by Grit </p>
  </center>
</footer>

</html>